* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
    font-size: 12px;
    border: solid 1px rgb(255, 230, 0);
}

.container-pai {
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.container-button{
    width: 160px;
    padding: 5px;
    gap: 2px;
    display: flex;
    justify-content: space-evenly;
}

.btn{
    border-radius: 7px;
    background-color: rgb(255, 230, 0);
    cursor: pointer;
    padding: 2px;
}

.btn:hover{
    background-color: rgb(255, 251, 0);
}

/* Desafio */
/* Cabeçalho */
/* Resultado */
/* Rodapé */
